@import './../../ui';

.analyzedInstructionStepSection {
  .headline {
    font-weight: bold;
    font-size: 26px;
    text-align: center;
    padding: 10px;
    border-bottom: 1px solid lightgray;
    border-top: 1px solid lightgray;
  }
}
