@import '../../ui';

.profileRecipeSection {
  margin: 10px;
  border: 1px solid lightgray;
  box-shadow: 0 4px 10px -2px lightgray;
  position: relative;

  button {
    width: 100%;
  }

  .infoSection {
    background-color: $light;
    .recipeImg {
      max-width: 100%;
      max-height: 100%;
      object-fit: contain;
    }

    .recipeInfo {
      .recipeTitle {
        display: flex;
        flex-direction: column;
        justify-content: center;

        height: 75px;

        padding: 5px 10px;
        text-align: center;

        border: 1px solid lightgray;
        border-top: none;
      }
    }
  }

  .instructions {
    height: 40px;
    font-weight: bold;
    font-size: 14px;
    color: $primary
  }

  .instructions:hover {
    background-color: $primary;
    color: $light;
    cursor: pointer;
  }

  .likeRecipe {
    position: absolute;
    top: 10px;
    right: 10px;

    background-color: $light;
    padding: 4px;
    padding-right: 0px;
    margin: 0px;
    width: 22px;
    border-radius: 50%;

    .likeThumbs {
      color: $primary;
    }

    .likeThumbs:hover {
      cursor: pointer;
    }
  }
}
