.analyzedInstructionStepSection {
  .step {
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    padding: 10px;
    border-bottom: 1px solid lightgray;
  }

  .ingredient {
    .bold {
      font-weight: bold;
    }
    padding: 10px;
  }

  .preparation {
    .bold {
      font-weight: bold;
    }
    padding: 10px;
    border-bottom: 1px solid lightgray;
  }
}
